<!-- templates/contacts.html -->
 {% if request.user.is_superuser %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
    <header>
        <!-- Навигационная панель -->
        <nav>
            <ul>
                <li><a href="">Главная</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Наши контакты</h1>
        name: {{ ser.n }}<br>
        {% if info %}
            Телефон: {{ info.phone }}<br>
            Email: {{ info.email }}<br>
            
        {% else %}
            Нет данных о контактах.
        {% endif %}
        <a href = "/main/">return</a>
    </main>
</body>
</html>